input {
  /* outline: none; */
  background: white;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  padding: 12px 20px;
  font-family: 'Comfortaa', cursive;
  flex: 1;
  font-weight: 400;
  font-size: 14px;
  outline-color: #5051f9;
}

input:placeholder {
  color: #8899a8;
}

input.error {
  border: 1px solid rgb(233, 112, 112);
}

.habbit__form {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0px 10px 0 25px;
  position: relative;
}
.input_icon {
  padding-left: 45px;
}
.input__icon {
  position: absolute;
  top: 10px;
  left: 45px;
}
.button {
  background: #edecfe;
  border-radius: 9px;
  border: none;
  font-size: 13px;
  line-height: 14px;
  color: #5051f9;
  padding: 14px 30px;
  cursor: pointer;
}
.button:hover {
  background: #dcdaff;
}
