main {
  margin-top: 30px;
}

.habbit {
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.habbit__day {
  background: #fbfaff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  font-size: 14px;
  line-height: 16px;
  padding: 20px 40px;
  min-width: 150px;
}
.habbit__comment {
  font-size: 16px;
  line-height: 18px;
  padding: 20px 25px;
}
/* .habbit__delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
}
.habbit__delete:hover {
  background: #eaecf7;
} */
/* для удаления кнопочки комметария стили! */
