.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}
.progress__text {
  display: flex;
  justify-content: space-between;
}
.progress_name {
  font-size: 14px;
  line-height: 16px;
  color: #232360;
}
.progress__precent {
  font-size: 12px;
  line-height: 13px;
  color: #768396;
}
.progress__bar {
  width: 100%;
  background: #e6e9ed;
  border-radius: 4px;
  height: 5px;
  position: relative;
}
.progress__cover_bar {
  transition: all 0.5s;
  position: absolute;
  height: 5px;
  border-radius: 4px;
  background: #5051f9;
}
